@model List<BookHub.WebUI.Models.Hikaye.HikayeListCategoryViewModel>


<div class="mkdf-row-single-svg-holder" style="left:; right:; top:; bottom:; "></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1565170667748"></div>
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="mkdf-pl-holder mkdf-grid-list mkdf-disable-bottom-space mkdf-standard-layout mkdf-five-columns mkdf-normal-space mkdf-info-below-image " data-type="standard" data-info-position="info-below-image" data-number-of-posts="10" data-number-of-columns="five" data-space-between-items="normal" data-orderby="date" data-order="DESC" data-taxonomy-to-display="category" data-taxonomy-values="best-sellers" data-display-title="yes" data-title-tag="h5" data-display-category="no" data-display-excerpt="no" data-excerpt-length="20" data-display-author="yes" data-display-rating="no" data-display-price="yes" data-display-button="yes" data-button-skin="default" data-show-category-filter="yes" data-category-values="best-sellers" data-show-all-item-in-filter="yes" data-class-name="pli">
					<div class="mkdf-pl-categories">
						<ul>
							<li><a class="mkdf-no-smooth-transitions active" data-category="best-sellers," href="#">Tümü</a></li>
							<li><a class="mkdf-no-smooth-transitions" data-category="best-sellers" href="/temp/template/product-category/best-sellers/index.html">Popüler</a></li>
							<li><a class="mkdf-no-smooth-transitions" data-category="fantasy" href="product-category/best-sellers/fantasy/index.html">Fantastik</a></li>
							<li><a class="mkdf-no-smooth-transitions" data-category="art" href="/temp/template/product-category/best-sellers/art/index.html">Polisiye</a></li>
							<li><a class="mkdf-no-smooth-transitions" data-category="love-stories" href="/temp/template/product-category/best-sellers/love-stories/index.html">Bilim Kurgu</a></li>
							<li><a class="mkdf-no-smooth-transitions" data-category="history" href="/temp/template/product-category/best-sellers/history/index.html">Şiir</a></li>
						</ul>
					</div>
					@foreach(var item in Model)
					{
					<div class="mkdf-pl-outer mkdf-outer-space">
						<div class="mkdf-pli mkdf-item-space outofstock">
							<div class="mkdf-pli-inner">
								<div class="mkdf-pli-image">

									<span class="mkdf-pli-out-of-stock">Sold</span>
									<img width="800" height="1104" src="@item.HikayeCoverImage" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="Hikaye Kapak" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1-800x1104.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1-600x828.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1-217x300.jpg 217w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1-768x1060.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1-742x1024.jpg 742w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1.jpg 1000w" sizes="(max-width: 800px) 100vw, 800px" />
								</div>
								<div class="mkdf-pli-text">
									<h5>@item.Name</h5>
									<p>@item.YazarAdi</p>
									<p>@item.YazarSoyadi</p>
									@item.HikayeCoverImage
									
									<div class="mkdf-pli-text-outer">
										<div class="mkdf-pli-text-inner">

											<div class="mkdf-pli-add-to-cart mkdf-default-skin">
												<a rel="nofollow" href="/temp/template/product/winter-darkest-tragedy/index.html" data-quantity="1" data-product_id="2076" data-product_sku="37" class="button ajax_add_to_cart mkdf-button mkdf-out-of-stock">Okumaya Devam Et</a>
											</div>
										</div>  
									</div>
								</div>
								<a class="mkdf-pli-link" itemprop="url" href="/temp/template/product/winter-darkest-tragedy/index.html"
								   title="@item.Name"></a>
							</div>
							<div class="mkdf-pli-text-wrapper">
								<div class="mkdf-pli-author-holder">
									<a href="/temp/template/author/john-strass/index.html"></a>
								</div>

								<h5 itemprop="name" class="entry-title mkdf-pli-title">
									<a itemprop="url" href="/temp/template/product/winter-darkest-tragedy/index.html"></a>
								</h5>
								


							</div>
						</div>
					</div>
					}
				</div>
		</div>
	</div> 
</div>
				






								
						

						
